@charset "utf-8";

body{
    background-color:-moz-linear-gradient(right, #222, #555);
    background: -webkit-linear-gradient(right, #222, #555);
    background: linear-gradient(to right, #222, #555);
    font-family:"游ゴシック";
}
.example{
    position:relative;
}
.example p{
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size:40px;
    background-color: #232323;
    font-weight: bold;
}
.example img{
    width:80%;
    margin-left: 10%;
    filter:blur(4px);
    margin-bottom: 50px;
}
h1 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    color:white;
  }
  
  h1:before, h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: white;
  }
  
  h1:before {
    left:0;
  }
  h1:after {
    right: 0;
  }
a{
    font-size:28px;
    font-weight: bold;
    color:#C6C;
}
h2{
    font-size:28px;
}
h3{
    font-size: 24px;
    color:white;
    
}
h4{
    font-size:30px;
    color:#DDD;
}
h5{
    font-size:24px;
    color:white;
}
h6{
     font-size:28px;
    font-weight: bold;
    color:white;
}
.box8 {
    padding: 0.5em 0.5em;
    margin: 1em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width:30%
}
.box8 p {
    margin: 0; 
    padding: 0;
}
